<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cowboy List</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://use.fontawesome.com/75fc06fd84.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <style>
        .table-custom{
            background-color: #fff8e8;
            text-align: center;
        }

        .table-header-custom{
            background-color: #f1dca7;
            text-align: center;
        }
    </style>


</head>
<body>

<div class="container">

    <hr>
    <h2>Cowboy List</h2>
    <hr>

    <a th:href="@{/cowboys/saveCowboy}" class="btn btn-primary btn-sm active shadow-sm" role="button" aria-pressed="true">Add a Cowboy</a>

    <hr>

    <table class="table table-bordered table-striped table-hover table-custom">

        <thead class="table-header-custom">

        <tr>
            <th >First Name
                <button class="btn btn-primary-outline btn-sm">
                    <a  th:href="@{/cowboys/list(sortType=${'firstAsc'})}" style="color: black"/>
                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                </button>
                <button class="btn btn-primary-outline btn-sm">
                    <a  th:href="@{/cowboys/list(sortType=${'firstDesc'})}" style="color: black"/>
                    <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
                </button>
            </th>

            <th>Last Name
                <button class="btn btn-primary-outline btn-sm">
                    <a  th:href="@{/cowboys/list(sortType=${'lastAsc'})}" style="color: black"/>
                    <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
                </button>
                <button class="btn btn-primary-outline btn-sm">
                    <a  th:href="@{/cowboys/list(sortType=${'lastDesc'})}" style="color: black"/>
                    <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
                </button>
            </th>

            <th>Born
                <button class="btn btn-primary-outline btn-sm">
                    <a  th:href="@{/cowboys/list(sortType=${'birthAsc'})}" style="color: black"/>
                    <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                </button>
                <button class="btn btn-primary-outline btn-sm">
                    <a  th:href="@{/cowboys/list(sortType=${'birthDesc'})}" style="color: black"/>
                    <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
                </button>
            </th>

            <th>Died
                <button class="btn btn-primary-outline btn-sm">
                    <a  th:href="@{/cowboys/list(sortType=${'deathAsc'})}" style="color: black"/>
                    <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                </button>
                <button class="btn btn-primary-outline btn-sm">
                    <a  th:href="@{/cowboys/list(sortType=${'deathDesc'})}" style="color: black"/>
                    <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
                </button>
            </th>
        </tr>

        </thead>

        <tbody>

            <tr th:each="tempCowboy : ${cowboys}">

                <td>
                    <a th:href="@{/cowboys/showFullCowboy(cowboyId=${tempCowboy.id})}" th:text="${tempCowboy.firstName}"/>
                </td>
                <td>
                    <a th:href="@{/cowboys/showFullCowboy(cowboyId=${tempCowboy.id})}" th:text="${tempCowboy.lastName}"/>
                </td>
                <td>
                    <a th:href="@{/cowboys/showFullCowboy(cowboyId=${tempCowboy.id})}" th:text="${tempCowboy.getPrettyBirthDate()}"/>
                </td>
                <td>
                    <a th:href="@{/cowboys/showFullCowboy(cowboyId=${tempCowboy.id})}" th:text="${tempCowboy.getPrettyDeathDate()}"/>
                </td>

            </tr>

        </tbody>

    </table>

</div>

</body>
</html>
