<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cowboy List</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .table-custom{
            background-color: #fff8e8;
            text-align: center;
        }

        .table-header-custom{
            background-color: #f1dca7;
            text-align: center;
        }
    </style>


</head>
<body>

<div class="container">

    <hr>
    <h2>Cowboy List</h2>
    <hr>

    <a th:href="@{/cowboys/saveCowboy}" class="btn btn-primary btn-sm active shadow-sm" role="button" aria-pressed="true">Add a Cowboy</a>

    <hr>

    <table class="table table-bordered table-striped table-hover table-custom">

        <thead class="table-header-custom">

        <tr>
            <th >First Name</th>
            <th>Last Name</th>
            <th>Born</th>
            <th>Died</th>
        </tr>

        </thead>

        <tbody>

            <tr th:each="tempCowboy : ${cowboys}">

                <td>
                    <a th:href="@{/cowboys/showFullCowboy(cowboyId=${tempCowboy.id})}" th:text="${tempCowboy.firstName}"/>
                </td>
                <td>
                    <a th:href="@{/cowboys/showFullCowboy(cowboyId=${tempCowboy.id})}" th:text="${tempCowboy.lastName}"/>
                </td>
                <td>
                    <a th:href="@{/cowboys/showFullCowboy(cowboyId=${tempCowboy.id})}" th:text="${tempCowboy.getPrettyBirthDate()}"/>
                </td>
                <td>
                    <a th:href="@{/cowboys/showFullCowboy(cowboyId=${tempCowboy.id})}" th:text="${tempCowboy.getPrettyDeathDate()}"/>
                </td>

            </tr>

        </tbody>

    </table>

</div>

</body>
</html>
